<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <title>Password Saver</title>

    <link rel="icon" href="{{ url_for('static', filename='title.png') }}" type="image/x-icon">
</head>

<body>
    <style>
        #intro {
            background-image: url("{{ url_for('static', filename='background.jpg') }}");
            height: 100vh;
            background-repeat: repeat-y;
        }

        @media only screen and (max-width: 550px) {
            #intro {
                background-image: url("{{ url_for('static', filename='background.jpg') }}");
                height: 130vh;
                background-repeat: repeat-y;
            }
        }

        footer {
            position: relative;
            /* bottom: 0;
            width: 100%; */
        }

        #message {
            width: 80%;
        }

        i {
            cursor: pointer;
        }
    </style>

    <div class="bg-image shadow-2-strong" id="intro">
        <nav class="navbar navbar-expand-lg navbar-dark rounded" style="background-color: rgba(0, 0, 0, 0.8);">
            <div class="container-fluid">
                {% if session["user"] %}
                <a class="navbar-brand" href="/user">
                    {% else %}
                    <a class="navbar-brand" href="/">
                        {% endif %}
                        <img class="rounded mx-auto" src="{{ url_for('static', filename='title.png') }}" alt=""
                            width="30" height="24" class="d-inline-block align-text-top">
                        Password Saver
                    </a>
                    <!-- <a class="navbar-brand" href="#">Password Saver</a> -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse flex-row-reverse" id="navbarScroll">
                        <ul class="navbar-nav navbar-nav-scroll text-white p-2 rounded">
                            {% if session["user"] %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">{{ session["user"]|title }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/logout">Logout</a>
                            </li>
                            {% elif session["admin"] %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">{{ Admin }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/logout">Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-bs-toggle="modal"
                                    data-bs-target="#signupModal">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Login as Admin</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
            </div>
        </nav>

        {% if session["user"] %}
        {% include 'user.html' %}

        {% elif session["admin"] %}
        {% include 'admin.html' %}

        {% else %}
        <main class="form-signin container px-lg-5 py-2">
            <form action="/login" class="px-lg-5 py-2" method="post">
                <img class="rounded mx-auto d-block" src="{{ url_for('static', filename='login.png') }}" alt=""
                    width="128px" , height="128px">
                <h1 class="h3 mb-3 fw-normal text-light">Please sign in</h1>

                <div class="mb-3">
                    <label for="email" class="form-label text-light fs-5">Email:</label>
                    <input type="email" class="form-control py-3" id="loginEmail" placeholder="name@example.com"
                        name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-light fs-5">Password:</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="loginPassw" placeholder="Password"
                            name="password">
                        <i class="input-group-tex bg-light" onclick="toggleVisibility('loginPassw', 'loginIcon')">
                            <span class="material-icons py-3 px-2" id="loginIcon">visibility</span>
                        </i>
                    </div>
                </div>
                <!-- <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div> -->
                <button class="w-100 mb-3 btn btn-lg btn-primary" type="submit">Sign in</button>
            </form>
        </main>
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="container px-lg-5" id="message">
            {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <footer class="d-flex flex-wrap align-items-center p-2 navbar-expand-lg">
            <div class="col-md-4 d-flex align-items-center mx-1">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img src="{{url_for('static', filename='title.png')}}" alt="" class="bi" width="34" height="34">
                </a>
                <span class="text-light">© 2022 Shubhranshu Gupta</span>
            </div>

            <div class="col-md-4 d-flex align-items-center justify-content-center mx-2">
                <span class="text-light">Made With <strong>Love</strong></span>
                <img src="{{url_for('static', filename='love.png')}}" class="bi" width="34" height="34">
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#footerScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation" class="bg-light py-2">
                <span class="navbar-toggler-icon text-light"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="footerScroll">
                <ul class="navbar-nav navbar-nav-scroll">
                    <li class="ms-3">
                        <a class="text-muted" href="https://www.linkedin.com/in/shubhranshu-gupta24/">
                            <img src="{{url_for('static', filename='linkedin.svg')}}" class="bi" width="50" height="50">
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-muted" href="https://medium.com/@shubhranshugupta">
                            <img src="{{url_for('static', filename='medium.svg')}}" class="bi" width="50" height="50">
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-muted" href="https://github.com/shubranshugupta">
                            <img src="{{url_for('static', filename='github.svg')}}" class="bi" width="50" height="50">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    <script>
        function toggleVisibility(id1, id2) {
            var x1 = document.getElementById(id1);
            var x2 = document.getElementById(id2);

            if (x1.type === "password") {
                x1.type = "text";
                x2.innerText = "visibility_off";
            } else {
                x1.type = "password";
                x2.innerText = "visibility";
            }
        }
    </script>
</body>

<div class="modal fade bg-transparent glass" id="signupModal" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSectionLabel">Signup</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('signup') }}" method="post" id="signupform">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Username</label>
                        <input type="text" class="form-control" name="name" id="name" required />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" name="email" required />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <div class="d-flex">
                            <input type="password" class="form-control" name="password" id="signupPassw1" required />
                            <i class="py-1" onclick="toggleVisibility('signupPassw1', 'signupIcon1')">
                                <span class="material-icons" id="signupIcon1">visibility</span>
                            </i>
                        </div>
                        <div id="password" class="form-text">Password should be above 8 characters.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password_confirm" class="form-label">Re-enter password</label>
                        <div class="d-flex">
                            <input type="password" class="form-control" name="password_confirm" id="signupPassw2"
                                required />
                            <i class="py-1" onclick="toggleVisibility('signupPassw2', 'signupIcon2')">
                                <span class="material-icons" id="signupIcon2">visibility</span>
                            </i>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Signup</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade bg-transparent glass" id="addAccountModel" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSectionLabel">Add Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('add_account') }}" method="post" id="addAccount">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="account" class="form-label">Account</label>
                        <input type="text" class="form-control" name="account" id="account" required />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email/Username</label>
                        <input type="text" class="form-control" name="email" required />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <div class="d-flex">
                            <input type="password" class="form-control" name="password" id="addAccountInput" required />
                            <i class="py-1" onclick="toggleVisibility('addAccountInput', 'addAccountIcon')">
                                <span class="material-icons" id="addAccountIcon">visibility</span>
                            </i>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</html>