{% extends "base.html" %}

{% block base %}
<main class="form-signin container px-lg-5 py-2">
    <form action="{{ url_for('reset_password', token=token) }}" class="px-lg-5 py-2" method="post">
        <img class="rounded mx-auto d-block" src="{{ url_for('static', filename='login.png') }}" alt="" width="128px" ,
            height="128px">
        <h1 class="h3 mb-3 fw-normal text-light">Reset your Password</h1>

        <div class="mb-3">
            <label for="password" class="form-label text-light fs-5">New Password</label>
            <div class="input-group">
                <input type="password" class="form-control fs-5" id="resetPassw" placeholder="Password" name="password">
                <i class="input-group-tex bg-light rounded" onclick="toggleVisibility('resetPassw', 'resetIcon')">
                    <span class="material-icons px-2 py-2" id="resetIcon">visibility</span>
                </i>
            </div>
        </div>
        <div class="mb-3">
            <label for="cnf_password" class="form-label text-light fs-5">Confirm Password</label>
            <div class="input-group">
                <input type="password" class="form-control fs-5" id="resetCnfPassw" placeholder="Password" name="cnf_password">
                <i class="input-group-tex bg-light rounded" onclick="toggleVisibility('resetCnfPassw', 'resetCnfIcon')">
                    <span class="material-icons px-2 py-2" id="resetCnfIcon">visibility</span>
                </i>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
</main>
{% endblock %}
